{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Bull Log</title>
</head>
    <div style="background-color: rgb(154, 198, 144); height:280px">
        <h1>scrapy scrape</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit">
        </form>
    </div>
    

    {% block results %}

    {% endblock %}

</body>
</html>

{% endblock %}