{% load static %}    


<link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />


<body class="container">
    <div class="navbar-container">
        <nav>
            <div class="navbar-contents">
                <div class="navbar-logo">
                    <h1>Bull-Log</h1>
                </div>
                <div class="navbar-content">
                    <h2 class="content">My Classes</h2>
                    <h2 class="content">User</h2>
                </div>
            </div>
        </nav>
    </div>   
</body>

{% block content %}

{% endblock %}
